version: '3'
# networks:
#   web:
#     external: true

services:
  test-api:
    # build: ./app
    # image: mikeryan56/test-api:test
    image: mikeryan56/test-api:latest
    ports:
    - "5000"
    volumes:
    - .:/code
    environment:
      # This is used to determin if .env or other external config is used. True is for a .env file and false for docker enviroment
      # option: dotenv, docker
      USE_ENV: docker
      # Application information
      APP_VERSION: '20.03.08'
      OWNER: 'Your Name'
      WEBSITE: https://your.domain.com/support
      # Demo settings
      CREATE_SAMPLE_DATA: 'True'
      NUMBER_TASKS: 1000
      NUMBER_USERS: 1000
      # Cofigurations
      HOST_DOMAIN: https://your.domain.com
      #prd for production or dev for development
      RELEASE_ENV: dev
      # Turn HTTPS Middleware on (True) or off (False)
      HTTPS_ON: 'True'
      SQLALCHEMY_DATABASE_URI: sqlite:///sqlite_db/api.db
      # Loguru settings
      LOGURU_RETENTION: 10 days
      LOGURU_ROTATION: 100 MB
      # Gunicorn Workers - Set to 0 for CPUs x 2 + 1
      WORKERS: 0
      # Leave intact for license
      CREATED_BY: 'Mike Ryan'
      LICENSE_TYPE: 'MIT'
      LICENSE_LINK: https://github.com/devsetgo/test-api/blob/master/LICENSE

    #if using traefik
    labels:
    - "traefik.enable=true" # <== Enable traefik to proxy this container
    - "traefik.http.routers.ta-web.rule=Host(`test-api.devsetgo.com`)" # <== Your Domain Name goes here for the http rule
    - "traefik.http.routers.ta-web.entrypoints=web" # <== Defining the entrypoint for http, **ref: line 30
    - "traefik.http.routers.ta-web.middlewares=redirect@file" # <== This is a middleware to redirect to https
    - "traefik.http.routers.ta-web-secured.rule=Host(`test-api.devsetgo.com`)" # <== Your Domain Name for the https rule 
    - "traefik.http.routers.ta-secured.entrypoints=web-secured" # <== Defining entrypoint for https, **ref: line 31
    - "traefik.http.routers.ta-secured.tls.certresolver=mytlschallenge" # <== Defining certsresolvers for https
    
    networks:
      - web
networks:
  web:
    external: true