name: DockerBuild-Master
on:
  push:
    braches:
    - master
    types: [closed]
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@master
      with:
        ref: master
    - name: docker-build
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        ls -l
        echo 'Docker Login'
        docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
        cd app
        CAL_VER=$(date '+%Y-%m-%d')
        echo 'Docker Build'
        docker build . -t mikeryan56/test-api:$CAL_VER
        docker push mikeryan56/test-api:$CAL_VER
        docker build . -t mikeryan56/test-api:latest
        docker push mikeryan56/test-api:latest


